@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background: #f1faee;
	color: #1d3557;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0px;
}

header ul {
	list-style: none;
	display: flex;
	width: 35%;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

header ul li {
	display: flex;
	justify-content: space-around;
}

header ul li:hover {
	padding: 10px 0px;
	background-color: #a8dadc;
	border-radius: 5px;
}

header ul li a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #1d3557;
	margin: 0px 20px;
}

.hamburger {
	display: none;
	background-color: transparent;
	font-size: 16px;
	border: 0;
	color: #1d3557;
	cursor: pointer;
}

/* tablet */
@media screen and (max-width: 768px) {
	header ul {
		width: 50%;
	}
}

/* mobile */
@media screen and (max-width: 576px) {
	header ul {
		margin-top: 25px;
		display: none;
		width: 100%;
		flex-direction: column;
		height: 200px;
	}

	.hamburger {
		display: block;
		padding: 10px 10px;
		border-radius: 5px;
	}

	.nav-ul.show {
		display: flex;
		margin-top: 20px;
	}

	header ul li a {
		margin: 10px 0px;
	}
	header ul li:hover {
		padding: 0px 10px;
		background-color: #a8dadc;
		border-radius: 5px;
	}
}
