@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");

* {
	background: #1b242f;
	font-family: "Poppins", sans-serif;
	color: whitesmoke;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
}

header {
	padding: 0 200px;
}
.logo {
	padding-left: 20px;
	padding-top: 20px;
	font-size: 18px;
	float: left;
	font-size: 28px;
}

.navigation {
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}

.navigation ul {
	display: flex;
	padding-left: 10px;
}

.navigation ul li {
	list-style: none;
	display: flex;
	font-weight: 100;
	font-size: 24px;
	padding-left: 30px;
}

@media (max-width: 480px) {
	header {
		padding: 0;
	}
	header h1 {
		font-size: 24px;
	}
	.navigation ul li {
		font-size: 10px;
		padding-top: 10px;
		padding-left: 5px;
	}
}
